@import url("components/button.css");
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("layout/benefits.css");
@import url("layout/form.css");

body {
  background: #FAFAFA;
  font-family: 'Karla', sans-serif;
}

.brand-accent {
  color: #000000;
}

.wrapper {
  background: #FAFAFA;
  padding: 60px 0;
}
