.banner {
  height: calc(100vh - 70px);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: left;
}

.banner-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.banner-content p {
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 30px
}


